.container {
  width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 36px;
  font-style: italic;
  color: rgb(161, 7, 161);
  text-align: center;
  /* margin-bottom: 50px; */
  margin-top: 45px;
  border: 1px solid rgb(172, 6, 6);
  box-shadow: rgba(241, 4, 4, 0.3) 0 5vw 6vw -8vw,
    rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw,
    rgba(139, 221, 6, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}

.section-card {
  position: relative;
  content: "";
  top: -25px;
  left: 0;
  right: 50px;
  /* width: 1440 px; */
  /* height: 750px; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/2;
  /* padding: 25px; */
  display: flex;
  flex-direction: row;
  gap: 7px;

  border: 2px solid black;
  /* border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw,
    rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;

  transition: box-shadow 1s cubic-bezier(0.66, 0.08, 0.19, 0.97); */
}

.card {
  /* position: absolute; */
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  padding: 19px;
  align-items: center;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw,
    rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;

  transition: box-shadow 1s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
* {
  z-index: 2;
}
img {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
&::before,
&::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}

&::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}

&:hover,
&:focus {
  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;

  &::before,
  &::after {
    transform: scaleX(1);
  }
}
